nav {
    background-color: rgba(65, 175, 13, 0.897);
}

.navbar-toggler:focus {
    box-shadow: none;
}

#ending {
    color: rgb(221, 25, 25);
    text-align: center;
    font: bold;
}

#footer {
    background-color: rgb(19, 192, 28);
}

.last-card {
    text-align: center;
}

#footer-points {
    list-style: none;
}

.copyright {
    background-color: rgb(19, 192, 28);
}